.dream {
	--border-color: #C399D0;
	--background: linear-gradient(180deg, #8DA4F5 0%, #F58DAD 100%);
}

.spring {
	--border-color: #F5B0B4;
	--background: linear-gradient(180deg, #EB86CF 0%, #FFD79B 100%);
}

.summer {
	--border-color: #57E0CA;
	--background: linear-gradient(180deg, #67EEA5 0%, #47D1EF 100%);
}

.autumn {
	--border-color: #EC8F6E;
	--background: linear-gradient(180deg, #EF5F5F 0%, #E8C47F 100%);
}

.winter {
	--border-color: #ABD6E3;
	--background: linear-gradient(180deg, #B5EAFB 0%, #99B0B7 100%);
}