.float-box {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  .float-relative {
    position: relative;
    width: 100vw;
    height: 100vh;
    * {
      pointer-events: auto;
    }
  }
}
