.devtools-menu {
  display: flex;
  position: absolute;
  top: 50px;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Sans-serif";
  .devtools {
    span {
      margin-right: 6px;
    }
  }
  .speed {
    input {
      width: 100px;
      background-color: #ffffff;
      border: none;
      border-radius: 5px;
    }
  }
}
