.canvas {
  background-color: #f2ced5;
}

.share {
  position: absolute;
  left: 40px;
  bottom: 40px;
  .share-hover {
    color: #ffffff;
    transform: translate(calc(-50% + 30px), 0);
    transition: all ease 2s;
  }
  .share-button {
    font-size: 20px;
    width: 60px;
    height: 60px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    & > img {
      border: none;
      width: 30px;
      height: 30px;
      transform: translate(0, 15%);
    }
  }
}

.share-modal {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    background: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}

.sync-btn {
  position: fixed;
  left: 30px;
  bottom: 30px;
  img {
    width: 30px;
  }
}

.error-modal {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .error-span {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .enter-sample-world-button {
    background-color: #f2ced5;
    border-radius: 100px;
    padding: 5px 10px;
    font-size: 20px;
    color: #642f3a;
  }
}
.create-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .make-gallery {
    font-size: 30px;
    margin-bottom: 20px;
  }
  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 60%;
    height: 50px;
    color: #ffffff;
    background: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    .fa {
      margin-left: -12px;
      margin-right: 8px;
    }
  }
}

.history-sidebar {
  color: #ffffff;
  font-size: 18px;
  position: fixed;
  top: 100px;
  text-align: right;
  right: calc(30% + 100px);
  .history-list {
    position: inherit;
    z-index: 1;
    width: 30%;
    .history-item {
      cursor: pointer;
    }
    .history-item-0 {
      color: #333333;
      font-size: 30px;
    }
    .history-item-1 {
      font-size: 27px;
    }
    .history-item-2 {
      font-size: 25px;
    }
    .history-item-3 {
      font-size: 22px;
      opacity: 0.6;
    }
    .history-item-4 {
      font-size: 20px;
      opacity: 0.5;
    }
    .history-item-plain {
      opacity: 0.4;
    }
    .history-time {
      color: #333333;
      margin-right: 20px;
      width: 200px;
      top: 10px;
      font-size: 15px;
    }
  }
}
