.selector-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	.selector-caption {
		font-size: 32px;
	}
	.selector-list {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		.selector-item {
			flex: 1 0 10px;
			width: 1px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid #222222;
			color: #222222;
			border-radius: 10px;
			transition: transform 0.2s;
			cursor: pointer;
			&.selected {
				border: none;
				background-color: #222222;
				color: #ffffff;
			}
			&:hover {
				transform: scale(1.04);
			}
		}
	}
}