.pedal-html {
  color: rgb(227, 240, 148);
  text-align: center;
  width: 300px;
  font-size: 23px;
  a {
    text-decoration: none;
    color: rgb(227, 240, 148);
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
      font-weight: 900;
      color: #0d7a79;
    }
  }
}
