.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100vw;
  pointer-events: none;
  .header-info {
    display: flex;
    justify-content: flex-start;
    .logo {
      width: 250px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-right: 20px;
      .logo-ico {
        width: 40px;
        height: 40px;
      }
      .logo-title {
        font-size: 24px;
        color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }

    .galleryinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 200;
      font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Sans-serif";
      color: #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      font-size: 14px;
    }
  }

  .header-right-elem {
    display: flex;
    position: inherit;
    z-index: 1;

    .theme-select-box {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Sans-serif";
    }

    .userinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #3c3c3c;
      font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Sans-serif";
      margin-right: 10px;
    }
    .skeleton {
      border-radius: 4px;
      background-color: #dfdfdf;
      margin-right: 10px;
    }
    .skeleton-avatar {
      width: 25px;
      height: 25px;
    }
    .skeleton-name {
      width: 60px;
      height: 20px;
    }
    .skeleton-logout {
      width: 50px;
      height: 20px;
    }

    .userinfo-avatar {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    .userinfo-name {
      font-size: 14px;
      margin-right: 10px;
    }
    .userinfo-button {
      color: #3c3c3c;
      padding: 4px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8px;
    }
  }
}
