.pedal-html {
  color: #222;
  text-align: center;
  width: 300px;
  font-size: 23px;
  pointer-events: none;
  .pedal-link {
    color: #222;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
  }
}
